@font-face{
	font-family:'MuseoSans';
	src:url("/fonts/museosans300.ttf");
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'MuseoSans';
	src:url("/fonts/museosans500.ttf");
	font-weight: 500;
	font-style:normal;
}
@font-face{
	font-family:'MuseoSans';
	src:url("/fonts/museosans700.otf");
	font-weight: 700;
	font-style:normal;
}