
/********************/
/**** Login Form ****/
/********************/

.full {
	background-image: radial-gradient(circle,rgb(110, 213, 255) 0%,rgba(63, 255, 225, 0) 100%), linear-gradient(to bottom right,rgba(109, 35, 204, 0.79) 0%,rgb(63, 255, 225) 100%);
	/*background-color: red;*/
	height: 100vh;
}
.abs-center {
	position: absolute;
	height: 290px;
	width: 560px;
	top: 0; bottom: 0; left: 0; right: 0;
	margin: auto;
}
.abs-center form {
	padding: 30px;
}
.float-right {
	float: right;
}
.full-button {
	width: 100%;
}
.login { padding: 0; }