<!-- 
{{#each content}}
	{{#if check "first" name}}
		{{name}} - {{text}}<br>
	{{/if}}
{{/each}}
-->

<head>
	<title>Tom Arrell - Home</title>
	<meta name="description" content="Tom Arrell is a software developer specializing in the NodeJS and Meteor stack. He is also experienced across numerous languages and has a strong base in OOP.">
	<meta name="keywords" content="Tom, Arrell, developer, software, programming, website, nodejs, application, web, app, programmer, coding">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylsheet" type="text/css" href="/stylesheets/fonts.css">
</head>

<body>
	
	<div class="container-fluid top">
		<div class="row">
		<nav class="col-md-12 header">
			
			<div class="logo">
				<a href="/">Tom Arrell</a>
			</div>

			<ul class="navbar">
				<li><a href="#">Home</a></li>
				<li><a href="#">Projects</a></li>
				<li><a href="#">Contact</a></li>
			</ul>

		</nav>
		</div>
	</div>

</body>
