<!-- Head Template -->
<template name="ChangeHead">

	<head>
		<title>ChangeCMS - {{title}}</title>
		<meta name="description" content="ChangeCMS is responsive content management platform for your site, built on top of NodeJS and Meteor.">
		<meta name="keywords" content="ChangeCMS, NodeJS, Tom Arrell, web CMS, content management, tomarrell, meteor">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/anicollection.css">
		<script src="/anijs.min.js"></script>
	</head>

</template>

<!-- Nav Template -->
<template name="ChangeNav">

	<div class="container-fluid change-top {{#if currentUser}}change-loggedIn{{/if}}">
		<div class="row">
			<nav class="col-md-12 change-header">
				<div class="change-logo">
					<a href="/">&lt; Return Home</a>
				</div>
				{{#if currentUser}}
					<ul class="change-navbar">
						<li><a href="#" class="change-logout">Logout</a></li>
					</ul>
				{{/if}}
			</nav>
		</div>
	</div>

</template>

<!-- Footer Template -->
<template name="ChangeFooter">

	<div class="change-footer">
		<h2 class="small">&copy; Tom Arrell</h2>
	</div>

</template>

<!-- CMS Login check -->
<template name="manage">

	{{> ChangeHead title="login"}}

	{{#if currentUser}}
		{{> dashboard}}
	{{else}}
		{{> login}}
	{{/if}}

</template>