
<!-- Dashboard layout -->
<template name="dashboard">

	{{> DashTop}}
	{{> ChangeSidebar}}

	<div class="change-tab-content">
		{{> Template.dynamic template=currentTab}}
	</div>

</template>

<template name="DashTop">

	<div class="change-DashTop">
		<div class="row">
			<div class="change-navIcon"><i class="fa fa-bars"></i></div>
		</div>
	</div>

</template>

<!-- DASHBOARD TABS -->

<template name="pages">
	
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="change-pages-selector dropdown">
					<select class="change-pages-nav form-control">
						{{#each getPages}}
							<option value="{{this}}">{{this}}</option>
						{{/each}}
					</select>
				</div>
			</div>
		</div>

		<div class="change-pages-content">
			<div class="row">
				{{#each contentBlocks}}
					<div class="col-md-12 change-pageText {{checkCharLength this.text}}">
						<h4>{{capitalizeFirstLetter this.name}}</h4>
						<textarea class="form-control">{{this.text}}</textarea>
						<button class="btn btn-default change-submitText">Submit</button>
					</div>
				{{/each}}
			</div>
		</div>
	</div>

</template>
